.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 6rem;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__item::before,
    &__link--active {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        border-left: 5px solid #1A237E;
        background-color: $color-primary-dark;
        transform: scaleY(0);
        transition: tansform .2s,
                    width .4s cubic-bezier(1, 0, 0, 1) .2s,
                    background-color .1s;
    }

    &__item:hover::before,
    &__link--active {
        transform: scaleY(1);        
        width: 100%;
    }

    &__link:link,
    &__link:visited {
        color: $color-Grey-light-1;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 2rem;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 100;
    }

    &__icon {
        margin-right: 2rem;
    }
}