$color-primary : #3B3B53;
$color-primary-light : #5b5b80;
$color-primary-dark : #43425D;

$color-secondary-light: #1b2430;
$color-secondary-dark: #282c34;

$color-header-light: #7986CB;
$color-header-dark: #303F9F;

$color-Grey-light-1: #faf9f9;
$color-Grey-light-2: #f4f2f2;
$color-Grey-light-3: #f0eeee;
$color-Grey-light-4: #ccc;
$color-Grey-light-5: #fafafa;

$color-Grey-dark-1: #333;
$color-Grey-dark-2: #777;
$color-Grey-dark-3: #999;

$color-green-light: #55c57a;
$color-red-light: #f44336;

// Fonts
$default-fonts: 1.6rem;

// TEXT
$text: #FFF;

// BOXSHADO
$shado-box: 0 2rem 6rem rgba(0,0,0,.5);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);

// LINES
$line: 1px solid $color-Grey-light-2;