$color-primary : #303f9f;
$color-primary-light : #3f51b5;
$color-primary-dark : #1a237e;

// color-secondary-light
// color-secondary-dark

$color-Grey-light-1: #faf9f9;
$color-Grey-light-2: #f4f2f2;
$color-Grey-light-3: #f0eeee;
$color-Grey-light-4: #ccc;

$color-Grey-dark-1: #333;
$color-Grey-dark-2: #777;
$color-Grey-dark-3: #999;

// Fonts

$default-fonts: 1.6rem;